@keyframes textAnimation01
{
	0% 
	{
		opacity: 1;
	}
  	25%
  	{
		opacity: 0.5;
  	}
  	50% 
	{
		opacity: 0.9;
	}
	75%
  	{
		opacity: 0.5;
  	}
  	100% 
	{
		opacity: 1;
	}
}

.textAnimation01-letter
{
	animation: textAnimation01 1s;
}