.maxWidth-container
{
	margin-left: auto;
	margin-right: auto;
	max-width: $general-maxWidth;
	width: 100%;
}
.box-dark
{
	background-color: $bg_main-color_dark;
	h2, h3, h4, h5, h6, p, a
	{
		color: $link_main-color_light;
	}
}
.box-light
{
	background-color: $bg_main-color_light;
	h2, h3, h4, h5, h6, p, a
	{
		color: $link_main-color_dark;
	}
}