header
{
	padding: .5rem $mainCtnrHorMargin;
	width: 100vw;
	background-color: pink;
}
.headerContent
{
	margin: 0 auto;
	max-width: $mainCtnrMaxWidth;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}