$nav-button_borderSize: 1px;
@mixin nav-button
{
	border: $nav-button_borderSize solid black;
	padding: 0.5rem;
	display: block;
	font-size: 1.2rem;
	background-color: white;
	&:hover
	{
		background-color: orange;
	}
}
.menu-burger
{
	// input checkbox for click envent on hamburger button
	input
	{
		margin-top: $mainCtnrMargin;
		margin-bottom: $mainCtnrMargin;
		display: none;
		width: 56px;
		height: 48px;
	}
	ul
	{
		padding-left: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	li
	{
		margin: 0 0.5rem 0.5rem 0;
		list-style: none;
		&:last-child
		{
			margin-right: 0;
		}
	}
	a
	{
		@include nav-button;
		text-decoration: none;
	}
}
.menu-sub
{
	@include nav-button;
	position: relative;
	overflow: hidden;
	&:hover
	{
		overflow: visible;
		ul
		{
			opacity: 1;
		}
	}
	ul
	{
		margin-top: 0.5rem;
		margin-left: calc(-1 * #{$nav-button_borderSize});
		position: absolute;
		left: 0;
		opacity: 0;
		flex-direction: column;
		align-items: flex-start;
		transition: opacity .5s;
	}
	li
	{
		margin: 0.5rem 0 0 0;
	}
	a
	{
		@include widthMaxContent;
	}
}
@media screen and (max-width: 408px)
{
	.menu-burger
	{
		position: relative;
		ul
		{
			max-height: 0;
			flex-direction: column;
			transform: translateX(calc(-100% - #{$mainCtnrMargin}));
			transition: transform 0.5s, max-height 0.5s;
		}
		li
		{
			margin: 0 0 0.5rem 0;
			width: 100%;
		}
		// hamburger icon
		span
		{
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			left: 50%;
			top: 0;
			width: 48px;
			height: 3px;
			display: block;
			background-color: orange;
			transform: translateX(-50%);
			transition: opacity 0.5s, transform 0.5s, margin-top 0.5s;
			pointer-events: none;
			&:nth-of-type(1)
			{
				transform-origin: left center;
			}
			&:nth-of-type(2)
			{
				margin-top: 22px;
			}
			&:nth-of-type(3)
			{
				margin-top: 45px;
				transform-origin: left bottom;
			}
		}
		input
		{
			margin-left: auto;
			margin-right: auto;
			display: block;
			opacity: 0;
			&:hover
			{
				cursor: pointer;
			}
		}
		input:checked ~ ul
		{
			max-height: 100%;
			transform: translateX(0);
		}
		input:checked ~ span
		{
			&:nth-of-type(1)
			{
				margin-top: 22px;
				transform: rotate(45deg) translateX(-50%);
			}
			&:nth-of-type(2)
			{
				opacity: 0;
			}			
			&:nth-of-type(3)
			{
				margin-top: 22px;
				transform: rotate(-45deg) translateX(-50%);
			}
		}
	}	
	.menu-sub
	{
		overflow: visible;
		background-color: grey;
		&:hover
		{
			background-color: grey;
		}
		ul
		{
			max-height: inherit;
			position: static;
			opacity: 1;
			transform: none;
		}	
		a
		{
			width: 100%;	
		}
	}
}