.pwdRepeat-container
{
	label
	{
		position: relative;
		min-width: 140px;
		display: inline-block;
	}
}
.pwdRepeat-container_error
{
	&::after
	{
		content: "passwords are not the same";
		color: red;
	}
}

.pwdRepeat-container_correct
{
	&::after
	{
		content: "passwords are the same";
		color: green;
	}
}