.readMore-container
{
	border: 1px solid black;
	padding: $mainCtnr-margin $mainCtnr-margin $mainButton-size $mainCtnr-margin;
	position: relative;
	text-align: center;
	.readMore-content
	{
		max-height: 75px;
		overflow: hidden;
		text-align: left;
	}
	& > span
	{
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: $mainButton-size;
		&::after
		{
			content: "voir plus...";
		}
	}
	input
	{
		opacity: 0;
		position: absolute;
		bottom: 0;
		max-height: $mainButton-size;
		height: 100%;
		max-width: calc(#{$mainButton-size} * 1.5);
		width: 100%;
		z-index: 1;
		background-color: red;
		transform: translateX(-50%);
		&:hover
		{
			cursor: pointer;
		}
	}
	input:checked ~ .readMore-content
	{
		max-height: 100%;
	}
	input:checked ~ span
	{
		&::after
		{
			content: "...voir moins";
		}
	}
}