.readMore-container
{
	padding: 0 0 calc(#{$mainButton-size} - 2 * #{$general-padding});
	position: relative;
	text-align: center;
	.readMore-content
	{
		max-height: 70px;
		overflow: hidden;
		text-align: left;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
	}
	& > span
	{
		position: absolute;
		bottom: calc(-2 * #{$general-padding});
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: $mainButton-size;
		&::after
		{
			content: "voir plus...";
		}
	}
	input
	{
		opacity: 0;
		position: absolute;
		bottom: calc(-2 * #{$general-padding});;
		max-height: $mainButton-size;
		height: 100%;
		max-width: calc(#{$mainButton-size} * 1.5);
		width: 100%;
		z-index: 1;
		background-color: red;
		transform: translateX(-50%);
		&:hover
		{
			cursor: pointer;
		}
	}
	input:checked ~ .readMore-content
	{
		max-height: 1000px;
		transition: max-height 1s ease-in-out;
	}
	input:checked ~ span
	{
		&::after
		{
			content: "...voir moins";
		}
	}
}