html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button
{
	margin: 0;
	box-sizing: border-box;
}
html
{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $mainText-fontSize;
}
body
{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#main
{
	max-width: $mainCtnr-maxWidth;
	padding-left: $mainCtnr-margin;
	padding-right: $mainCtnr-margin;
	width: 100%;
	flex: 1;

	background-color: white;
}
button
{
	&:hover
	{
		background-color: $mainButtonHover-color;
		cursor: pointer;
	}
}
h2
{
	margin: 0.5rem 0;
	width: 100%;
	color: white;
	background-color: black;
}