// general

$general-maxWidth: 1280px;
$general-padding: 1rem;
$general-fontSize: 16px;

// color

$bg_main-color_dark: rgb(100, 100, 100);
$bg_main-color_light: rgb(200, 200, 200);

$title_main-color_light: rgb(255, 255, 255);
$title_main-color_dark: rgb(0, 0, 0);

$text_main-color_light: rgb(255, 255, 255);
$text_main-color_dark: rgb(0, 0, 0);

$link_main-color_dark: rgb(0, 0, 0);
$link_main-color_light: rgb(255, 255, 255);

$menuButton_main-color_dark: rgb(0, 0, 0);
$menuButton_main-color_light: rgb(255, 255, 255);