$mainText-fontSize: 16px;

// main container
$mainCtnr-maxWidth: 1280px;
$mainCtnr-margin: 1rem;

// buttons
$mainButtonHover-color: orange;
$mainButton-size: 3rem;

// navigation
$mainNavLink-color: black;
$mainNavLinkHover-color: orange;
$mainNavLink-borderSize: 1px;

// links
$mainLink-color: black;
$mainLinkHover-color: orange;

$mainSelected-color: purple;

@mixin widthMaxContent
{
	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
}