html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button { margin: 0; box-sizing: border-box; }

html { width: 100vw; display: flex; justify-content: center; align-items: center; font-size: 16px; }

body { min-height: 100vh; width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }

#main { max-width: 1280px; padding: 1rem; width: 100%; flex: 1; background-color: white; }

header { width: 100vw; background-color: pink; }

.headerContent { margin: 0 auto; padding: 1rem; max-width: 1280px; width: 100%; display: flex; justify-content: space-between; align-items: center; }

footer { width: 100vw; background-color: pink; }

.footerContent { margin: 0 auto; padding: 1rem; max-width: 1280px; width: 100%; display: flex; justify-content: space-between; align-items: center; }

.menu-burger { padding-left: 0; display: flex; justify-content: flex-start; align-items: flex-start; }
.menu-burger li { position: relative; list-style: none; }
.menu-burger li a { padding: 0.5em; display: block; font-size: 1.2rem; background-color: white; text-decoration: none; }
.menu-burger li a:hover { background-color: orange; }
.menu-burger li a:first-child { margin-left: 0; }
.menu-burger li a:last-child { margin-right: 0; }

.menu-secondary { padding: 0.5em; display: block; font-size: 1.2rem; background-color: white; position: relative; overflow: hidden; }
.menu-secondary:hover { background-color: orange; }
.menu-secondary ul { margin-top: 0.5rem; padding-left: 0; position: absolute; left: 0; opacity: 0; transition: opacity .5s; }
.menu-secondary:hover { overflow: visible; }
.menu-secondary:hover ul { opacity: 1; }
.menu-secondary li { width: intrinsic; width: -moz-max-content; width: -webkit-max-content; }

@media screen and (max-width: 382px) { .menu-burger { margin: 0 auto; position: relative; height: 48px; width: 48px; flex-direction: column; transition: opacity .5s, background-color .5s; overflow: hidden; }
  .menu-burger li { width: 100%; opacity: 0; transition: opacity .5s; text-align: center; }
  .menu-burger li:first-child { margin-top: 48px; }
  .menu-burger::before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 48px; height: 48px; background-image: url("../../cvm/img/menuburger.png"); background-size: 100% auto; }
  .menu-burger:hover { width: 100%; overflow: visible; cursor: pointer; }
  .menu-burger:hover li { opacity: 1; }
  .menu-secondary { padding: 1px; background-color: grey; overflow: visible; }
  .menu-secondary ul { position: static; width: 100%; opacity: 1; }
  .menu-secondary ul li:first-child { margin-top: 0; }
  .menu-secondary:hover { cursor: default; background-color: grey; } }
.modal-container { width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; display: flex; justify-content: center; align-items: center; background-color: rgba(255, 255, 255, 0.9); opacity: 1; pointer-events: auto; transition: opacity .5s; }

.hidden { opacity: 0; pointer-events: none; }

/*# sourceMappingURL=cvm_style.css.map */
